html{
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 60px;
    justify-content: center;
}

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark-mode {
    background-color: #333333;
    color: #ffffff;
    height: 100vh;
    width: 100vw;
}

.dark-mode-bt {
    background-color: #333333;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

a {
    color: #007bff; 
    text-decoration: none; 
  }
  

  .dark-mode a {
    color: #4dc2ff; 
  }
  
  a:visited {
    color: #8800ff; 
  }
  
  .dark-mode a:visited {
    color: #cc66ff; 
  }
  
  a:hover,
  a:focus {
    color: #0056b3; 
  }
  
  .dark-mode a:hover,
  .dark-mode a:focus {
    color: #33aaff; 
  }
  